<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.mapper.ErrorMapper">
    <insert id="insertError" parameterType="Error">
        INSERT INTO ERROR (SheetName, HeaderName, RowNumber, ErrorMessage) VALUES (#{SheetName}, #{HeaderName}, #{RowNumber}, #{ErrorMessage});
    </insert>
    <select id="selectAllError" resultMap="result">
        SELECT * FROM ERROR;
    </select>

    <resultMap id="result" type="Error">
        <result property="ErrorID" column="ErrorID"/>
        <result property="SheetName" column="SheetName"/>
        <result property="HeaderName" column="HeaderName"/>
        <result property="RowNumber" column="RowNumber"/>
        <result property="ErrorMessage" column="ErrorMessage"/>
    </resultMap>
</mapper>